<div id="contentLoading" *ngIf="loader.isLoading">
    <img class="contentLoader" />
</div>
<div class="ro-modern">
    <header>
        <div>
            <span>{{ pageTitle }}</span>
        </div>
        <div></div>
    </header>
    <main>
        <div class="main-content-wrapper">
            <div class="main">
                <div class="content-without-aside">
                    <div style="margin-bottom:10px;">
                        <notificationmessage [notificationMessage]="notificationMessage"></notificationmessage>
                    </div>

                    <form novalidate [formGroup]="timeLogTypeForm" (ngSubmit)="save()" style="margin-bottom: 0px;">
                        <div>
                            <div class="form-horizontal">
                                <div class="row">
                                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Type</label>
                                            <div class="col-sm-8">
                                                <input id="code" [(ngModel)]="timeLogTypeDto.timelogType" style="text-transform:uppercase" formControlName="type"
                                                       type="text" placeholder="Time Log Type" value="{{timeLogTypeDto.timelogType}}" maxlength="20" [readOnly]="isEdit" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-5 col-md-6 col-sm-6 col-xs-6">
                                        <div class="form-group">
                                            <label class="control-label col-sm-4">Budget</label>
                                            <div class="col-sm-8">
                                                <input id="code" [(ngModel)]="timeLogTypeDto.budget" formControlName="budget"
                                                       type="text" placeholder="Budget" value="{{timeLogTypeDto.budget}}" maxlength="5" [readOnly]="isEdit" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="actions-bar" id="actions-bar">
                                <div class="button-container" style="float: right;">
                                    <button data-am-button="left" class="btn-submit" type="submit" title="Save" *ngIf="!isEdit">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
</div>
